* {
	padding: 0;
	margin: 0;
}

:root {
	--primary-color: #ffeead;
	--secondary-color: #96ceb4;
	--ternary-color: #df4632;
	--text-color: #ffeead;
}

@import "container";
body {
	background-color: var(--primary-color);
	font-family: Dank mono;
	font-weight: 500;
}
