* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #ffeead;
  --secondary-color: #96ceb4;
  --ternary-color: #df4632;
  --text-color: #ffeead;
}

.container {
  list-style: none;
  font-size: 2em;
  margin: 10px;
  text-align: center;
  color: var(--text-color);
  border: 10px #fdbc07 solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*
* Section - I
--------------------------
Default direction in flex is from left to right in a "row",
* It is called "main axis" which goes from the (left to right) in the (form of row)

* Two Axis in flex box:
* Main axis(X axis): goes from left to right in a row (horizontally)
* axis(X axis): goes from top to bottom in a column (vertically)

* We can change the direction of flex
* By default it is set to row
*/
/*
* Section - II
--------------------------
* Justify content(Controls the content along the main axis i.e "row" )

* By default it is set to flex start(thats why the content is squeezed together at the start)

* Properties of justify content:
1. flex-start
2. flex-end
3. center
4. space-around
5. space-evenly
6. space-between
*/
/*
* Section III
--------------------------
* Positioning items

* For targeting a specific component we have to use declare thr child element with the a certain class

*/
.home,
.logout {
  background-color: var(--secondary-color);
  margin: 2px;
  padding: 10px;
}

.search,
.profile {
  background-color: var(--ternary-color);
  margin: 2px;
  padding: 10px;
}

/*
* Section - IV
--------------------------
* Flex property(It allows to set the width of the items according to the width of the entire container, which makes the items responsive)


*/
/*
* Section - V
--------------------------
* Align items(Control the content along the cross axis)
* By default the items stretch themselves across the cross axis
*/
/*
* Section - VI
--------------------------
* Flex-direction:column
* Lays out the content in the container from top to bottom
* Now the axis is from top to bottom
* By default align items is set to stretch 

*/
/*
* Section - VII
--------------------------
* Wrapping
* By default wrap is set to no-wrap

*/
.container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container > div {
  width: 300px;
}

.container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 10px solid #198af3;
  margin: 10px;
  margin-top: 50px;
}

/*
* Section - VIII 
--------------------------
* flex: It is shorthand property for three other properties
* Other three properties:
* 1) flex grow, 2) flex-shrink 3) flex-basis 
* By default wrap is set to no-wrap


*/
.container-2 > div {
  font-size: 30px;
  padding: 10px;
  margin: 2px;
  text-align: center;
}

.container-2 .player-1 {
  background-color: var(--secondary-color);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
}

.container-2 .player-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  background-color: var(--ternary-color);
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
}

.container-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 10px solid #198af3;
  margin: 10px;
  margin-top: 50px;
}

.container-3 > div {
  font-size: 30px;
  padding: 10px;
  margin: 2px;
  text-align: center;
}

/*
* Section - IX
* Order property: 
* by default the order property is set to 0
* If we set the order property to greater than 0  then the item will be pushed to the end of the container
* If we set the order property to lesser than 0  then the item will be pushed to the start of the container 
*/
.container-3 .item-1 {
  background-color: var(--secondary-color);
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.container-3 .item-2 {
  background-color: var(--ternary-color);
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
}

.container-3 .item-3 {
  background-color: var(--secondary-color);
  -webkit-box-ordinal-group: -2;
      -ms-flex-order: -3;
          order: -3;
}

html,
body {
  height: 100%;
  background-color: var(--primary-color);
  font-family: Dank mono;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
/*# sourceMappingURL=index.css.map */